body {
  margin: 0px;
  background-color: white;
  color: #acacac;
  text-align: center;
}

section {
  margin: 20px auto;
  padding: 5% 8%;
}

h1 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

.sign-in {
  margin: 10px;
}
